*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: black;
  overflow-x: hidden;
}
#header1 {
  height: 60px;
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 8px;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
  background-color: #1dce0dd3;
}
#header1 li {
  font-size: 16px;
  margin-left: 40px;
  float: left;
}
#header1 li , a,
.dropbtn {
  display: inline-block;
  color: rgb(15, 15, 15);
  text-align: center;
  padding:10px 20px;
  text-decoration: none;
}
 #header1 a:hover,
.dropdown:hover .dropbtn {
  background-color: #161616;
  color: rgb(17, 231, 28);
  padding: 15px 15px 10px ;
  font-weight: bold;
  border-radius: 10px;
}
 #header1 li .dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e9d8f4;
  min-width: 160px;
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #db7093;
  color: white;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.logo1{
  color: #03a9f4;
  font-size: 35px;
  position: absolute;
  top: 20px;
  margin: 0px 50px 0px 0px;
  font-family: "Sofia", sans-serif;
}
/*search*/
.reach input[type="text"] {
  margin-top: 10px;
  border: 3px solid;
  float: left 30px;
  padding-left: 1px;
  border-color: 1px #11110f;
  font-size: 20px;
}
.bar{
  display: none;
}
section{
  position: relative;
  width: 1200px;
  margin: 0px 90px;
}
/* slideshow*/
.slideshow{
  width: 1200px;
  display: flex;
  animation: slide 16s infinite 0.1s;
}
@keyframes slide{
  0% { transform: translate(0); }
  100% { transform: translate(-100%); }
}
#main1 {
  font-family: sans-serif;
  height: auto;
  padding: 10px;
}
/* nghe nhac */
.container {
  position: absolute;
  width: 350px;
  left: -20px;
  border-radius: 10px;
  background: black;
  padding: 10px;
  overflow: hidden;
  color: green;
}
.song-name,
.artist {
  text-align: center;
}
.song-name {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}
.artist {
  font-size: 15px;
}
.box-disk {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  position: relative;
  display: block;
  margin: 20px auto;
  background: url(images/photo-1.jpg) no-repeat top left;
  background-size: cover;
  box-shadow: 0 0 0 5px rgba(18, 224, 11, 0.8);
  animation: rotate 20s linear infinite;
  animation-play-state: paused;
}
.box-disk.play {
  animation-play-state: running;
}
.box-disk::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #121212;
}
.music-slider {
  width: 100%;
  float: left;
  position: relative;
}
.seek-bar {
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background: #ccc;
  cursor: pointer;
  overflow: hidden;
}
.seek-bar::-webkit-slider-thumb {
  width: 1px;
  height: 15px;
  box-shadow: -400px 0 0 400px royalblue;
}
.current-time,
.music-time {
  font-size: 12px;
}
.music-time {
  position: absolute;
  float: left;
  right: 0;
}
.controls {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 20px;
}
.btn-play {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: green;
  cursor: pointer;
  border: none;
}
.btn-play span {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateY(-50%);
  width: 5px;
  height: 20px;
  border-radius: 2px;
  background: black;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  transition: 0.5s;
}
.btn-play span:nth-child(2) {
  left: 55%;
  transform-origin: center;
}
.btn-play.pause span:nth-child(2) {
  transform: translateY(-50%) scaleY(0);
}
.btn-play.pause span:nth-child(1) {
  width: 35%;
  left: 53%;
  transform: translate(-50%, -50%);
  border-radius: 0;
  clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
}
.btn {
  width: 30px;
  height: 30px;
  background: green;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  margin-top: 5px;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
aside {
  position: absolute;
  float: left;
  left: 320px;
  width: 650px;
}
aside h1{
  color: green;
  font-size: 16px;
  position: relative;
  top:20px;
  left: 20px;
}
aside img{
  position: relative;
  left: 70px;
  border-radius: 40px;
  padding: 7px;
  margin: 5px;
}
.Chill{
  width: 920px;
  margin-top: 20px;
  margin-left: 10px;
  border-style: solid;
  border-color: green;
  display: flex;
}
.c1{
  position: relative;
}
.p1 {
  position: absolute;
  top:50px;
  left: 40px;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}
.c1:hover .p1{
  opacity: 1;
}
.c2{
  position: relative;
}
.p2 {
  position: absolute;
  top: 50px;
  left:40px;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}
.c2:hover .p2{
  opacity: 1;
}
.c3{
  position: relative;
}
.p3 {
  position: absolute;
  top: 50px;
  left:40px;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}
.c3:hover .p3{
  opacity: 1;
}
.c4{
  position: relative;
}
.p4 {
  position: absolute;
  top: 50px;
  left:40px;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}
.c4:hover .p4{
  opacity: 1;
}
.top{
  width: 920px;
  margin-top: 20px;
  margin-left: 10px;
  border-style: solid;
  border-color: green;
  display: flex;
}
.niemvui{
  width: 920px;
  margin-top: 20px;
  margin-left: 7px;
  border-style: solid;
  border-color: green;
  display: flex;
  
}
#newsong{
  position: relative;
  margin-top: 670px;
  height: 250px;
}
#newsong h1 {
  text-align: center;
  color: green;

}
#newsong img{
  margin: 20px 135px;
  width:180px;
  height: 180px;
  border-radius: 50%;
}
#newsong ul  {
  display: flex;
}
#newsong li {
  list-style-type: none;
}
#newsong img {
  animation: xoayvong 10s linear   infinite;
}
@keyframes xoayvong {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#vdeo{
  position: relative;
  height: 600px;
}
#vdeo h1   {
  position: absolute;
  top: 20px;
  color: green;
}
.videoto{
  position: relative;
  display: flex;
}
.vdt1 {
  position: relative;
}
.vdt1 img {
  position: relative;
  display: block;
  margin: 65px 70px;
  width:505px;
  height: 200px;
  border: 2px green solid;
}
.vdt1 p  {
  position: absolute;
  top:200px;
  left:70px;
  font-size: 34px;
  font-weight:900;
  color: #03a9f4;
  z-index: 1;
}
.icon_time_video{
  position: absolute;
  background-color: #aa2068;
  bottom: 65px;
  right: 70px;;
  font-weight: 700;
  font-size: 20px;
  padding: 10px 20px;
}
.videonho1{
  display: flex;
  height: 120px;
}
.videonho1 img {
  margin: 10px 40px;
  width: 250px;
  height: 100px;
  border: 1px solid green;
}
footer{
  display: flex;
  background-color: #757474;
}
.flex-item {
  flex: 1;
  padding: 1rem;
}
.flex-item h1 {
  color: white;
  margin-left: 12px;
  font-size: 20px;
}
nav ul li  {
display: inline;
margin-right: 20px;
}
